<!doctype html>
<html lang="en">
  <head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body class="bg-info text-white">
    <!-- start navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container">
  <a class="navbar-link" href="author.html">tawhid blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="about.html">About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="contact.html">Contact</a>
      </li>
    </ul>
      <ul class="navbar-nav mr-5">
      <li class="nav-item dropdown mr-5">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#"> Logout</a>
          <div class="dropdown-divider"> </div>
          <a class="dropdown-item" href="regester.html">Register</a>
          <a class="dropdown-item" href="login.html">Login</a>
          
        </div>
      </li>
    </ul>
  </div>
</div>
</nav>
<!-- end navbar -->
<div class="container">
  <address>
    <h2>feni govt college</h2>
    <h2>near the feni porosoba</h2>
    <h2>oposite of the feni raza digi</h2>
    <h2>beside of feni pilot high school</h2>
  </address>
  <div class="card text-dark mb-5">
    <div class="card-header">
      <h2>You can contact with us by fill up following form</h2>
    </div>
    <div class="card-body">
      <form action="somepage.php" method="get">
        <div class="form-group">
          <label>Name:</label>
          <input type="text" id="name" class="form-control">
        </div>
        <div class="form-group">
          <label>Email:</label>
          <input type="Email" id="Email" class="form-control">
        </div>
        <div class="form-group">
          <label>Massage:</label>
          <textarea name="message" id="message" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-secondary">post your comment</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="p-5 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul>
          <li>home</li>
          <li>about</li>
          <li>contact</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li>home</li>
          <li>about</li>
          <li>contact</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li>home</li>
          <li>about</li>
          <li>contact</li>
        </ul>
      </div>
    </div>
    <h2 class="text-center"> &copy; feni college .all right reserved</h2>
  </div>
</div>
<div class="modal fade" id="tawhid" tabindex="-1" role="dialog" aria-labelleby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-contant">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">ikbal hussain tawhid</h5>
        <button type="buttonj" class="close" data-dimiss="modal" aria-label="close">
          <span aria-hidden="true"> &times;</span>
        </button>
      </div>
      <div class="modal-body"> hello my name is tawhid.i live in feni. learn web develop is my drem
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dimiss="modal">close</button>
        <button type="button" class="btn btn-primary">save change</button>
      </div>
    </div>
  </div>
</div>
  



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>