<!doctype html>
<html lang="en">
  <head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
    <!-- start navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container">
  <a class="navbar-link" href="author.html">tawhid blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about.html">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact</a>
      </li>
    </ul>
      <ul class="navbar-nav mr-5">
      <li class="nav-item dropdown mr-5">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#"> Logout</a>
          <div class="dropdown-divider"> </div>
          <a class="dropdown-item" href="regester.html">Register</a>
          <a class="dropdown-item" href="login.html">Login</a>
          
        </div>
      </li>
    </ul>
  </div>
</div>
</nav>
<!-- end navbar -->

<!-- end jumbotron -->
<div class="container">
  <div class="row">
    <div class="col-md-8 main-content">
      <div class="card my-3">
      <div class="card-body">
        <h2>This is some text within a card body.</h2>
        <div class="mb-2">
          Catagory:
          <span class="badge badge-pill badge-primary px-2 py-1">Web</span>
          <span class="badge badge-pill badge-success px-2 py-1">Graphics</span>
          <span class="badge badge-pill badge-danger px-2 py-1">Mobile</span>
          <span class="badge badge-pill badge-warning px-2 py-1">Computer</span>
          <span class="badge badge-pill badge-secondary px-2 py-1">Tecnology</span>
        </div>
        <h3>by <a href="author.html">tawhid</a> on <span class="text-muted">december 18,2017</span></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        

      </div>
      </div>
      <!-- end card -->
    <div class="card">
      <div class="card-header">
        <h2>discussion board</h2>
      </div>
      <div class="card-body">
        <div class="content">
          <h2>tawhid say:</h2>
         <p>nice post</p>
        </div>
        <div class="content">
          <h2>sakib say:</h2>
         <p>nice post</p>
        </div>
        <div class="content">
          <h2>samir say:</h2>
         <p>nice post</p>
        </div>
      </div>
    <hr>
    <form action="somepage.php" method="get">
        <div class="form-group">
          <label>Name:</label>
          <input type="text" id="name" class="form-control">
        </div>
        <div class="form-group">
          <label>Email:</label>
          <input type="Email" id="Email" class="form-control">
        </div>
        <div class="form-group">
          <label>Massage:</label>
          <textarea name="message" id="message" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-outline-primary">post your comment</button>
        </div>
      </form>
    </div>
  </div> 
<div class="col-md-4 sidebar pt-4">
      <h2 class="border border-info p-2 mb-3">catagory</h2>
      <div class="">
        <ul class="list-group">
          <li class="list-group-item"> <a href="#">tecnology</a></li>
          <li class="list-group-item"> <a href="#">web</a></li>
          <li class="list-group-item"> <a href="#">grapics</a></li>
          <li class="list-group-item"> <a href="#">mobile</a></li>
        </ul>
      </div>
      <h2 class="border border-info p-2 mb-3 mt-4 "> author</h2>
      <div class="">
        <ul class="list-group">
          <li class="list-group-item"> <a href="#">tawhid</a></li>
          <li class="list-group-item"> <a href="#">sakib</a></li>
          <li class="list-group-item"> <a href="#">rakib</a></li>
          <li class="list-group-item"> <a href="#">samir</a></li>
        </ul>
      </div>
      </div>
      </div>
    </div>
<div class="p-5 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul>
          <li>home</li>
          <li>about</li>
          <li>contact</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li>home</li>
          <li>about</li>
          <li>contact</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li>home</li>
          <li>about</li>
          <li>contact</li>
        </ul>
      </div>
    </div>
    <h2 class="text-center"> &copy; feni college .all right reserved</h2>
  </div>
</div>    
<!-- modal -->
<div class="modal fade" id="tawhid" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">ikbal hussain tawhid</h5>
        <button type="button" class="close" data-dimiss="modal" aria-label="close">
          <span aria-hidden="true"> &times;</span>
        </button>
      </div>
      <div class="modal-body"> hello my name is tawhid.i live in feni. learn web develop is my drem
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dimiss="modal">close</button>
        <button type="button" class="btn btn-primary">save change</button>
      </div>
    </div>
  </div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>